<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.project">
    <!-- 인터넷 권한 설정 -->
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_main"
        android:label="Food09"
        android:roundIcon="@mipmap/ic_main_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".Activity_create_info"
            android:exported="false" />
        <activity
            android:name=".Activity_intro"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Register_Success" />
        <activity android:name=".Activity_Sign_up" />
        <activity android:name=".Activity_Sign_in" />
        <activity android:name=".MainActivity" />
    </application>

</manifest>